@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Epilogue", sans-serif;
  --dashboard-primary-color: #28293e;
  --dashboard-secondary-color: #111227;
  --button-color: #ef6d58;
}

body {
  background: var(--dashboard-primary-color);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Dashboard Start */
#dashboard {
  width: 100%;
  font-family: var(--primary-font);
  display: flex;
  align-items: stretch;
  padding: 16px;
  gap: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 250px;
  min-height: calc(100vh - 32px);
  background: var(--dashboard-secondary-color);
  border-radius: 8px;
}

.sidebar .logo-box {
  height: 70px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--dashboard-primary-color);
}

.sidebar .logo-box .logo img {
  width: 160px;
}

.sidebar .sidebar-item ul {
  padding: 0px 16px !important;
  margin-top: 16px !important;
}

.sidebar .sidebar-item li {
  margin-bottom: 10px;
}

.sidebar .sidebar-item li a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: rgb(179, 179, 179);
  border-radius: 6px;
  padding: 12px;
  transition: 0.4s;
}

.sidebar .sidebar-item li.active a,
.sidebar .sidebar-item li:hover a {
  color: white;
  background: var(--dashboard-primary-color);
}

.main-content {
  width: calc(100% - 250px);
  min-height: calc(100vh - 32px);
}

.dashboard_navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dashboard-secondary-color);
  border-radius: 8px;
  padding: 10px 20px;
}

.dashboard_navbar .navbar-title h1 {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0;
}

.dashboard_navbar .profile .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-content .main_content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 86px);
  padding: 30px;
  background: var(--dashboard-secondary-color);
  border-radius: 8px;
}

.main-content .contact-form {
  width: 450px;
  border-radius: 8px;
  padding: 30px;
  background: var(--dashboard-primary-color);
}

.main-content .contact-form h1 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
}

.main-content .contact-form label {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.main-content .contact-form select {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
  outline: none;
  padding: 10px;
  border-radius: 8px;
}

.main-content .contact-form .field {
  margin-bottom: 12px;
}

.main-content .contact-form input {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
  outline: none;
  padding: 10px;
  border-radius: 8px;
}

.main-content .contact-form textarea {
  width: 100%;
  font-size: 14px;
  resize: none;
  height: 80px;
  margin-top: 6px;
  font-weight: 500;
  outline: none;
  padding: 10px;
  border-radius: 8px;
}

.main-content .contact-form .is-primary {
  padding: 10px;
  border-radius: 8px;
  background: var(--button-color);
  color: white;
  cursor: pointer;
  border: none;
}

.input .input__support:before {
  display: none !important;
}

.input .input__support,
.input .input__field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #fff;
  background-image: none;
  margin-top: 6px;
  border-radius: 8px;
}

.input__support {
  width: 100%;
  display: flex !important;
  align-items: center;
}
.input__support:before {
  content: "file_upload";
  display: inline-block;
  transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input__helper:before {
  font-weight: 200;
  content: "Select file";
}

.input--file {
  cursor: pointer;
}
.input--file .file {
  width: 100%;
  display: flex;
  gap: 10px;
}
.input--file .file-item {
  width: 100%;
}
.input--file .upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background: white !important;
  color: black;
  margin-top: 6px;
  border-radius: 8px;
}

.input--file input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  padding: 0;
}
